* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: rgba(0, 0, 0, .03);
  /* background-color: black; */
}

header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

nav {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
  /* background: pink; */
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

nav i {
  color: #f79133;
  color: rgb(255, 8, 0);
  color: rgb(255, 40, 0);
}

/* .logo {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1.5em;
  width: 15%;
} */

/* .logo a {
  background-image: linear-gradient(45deg, #f15c2a, #f79133);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-decoration: none;
} */

/* .search {
  width: 50%;
  display: flex;
  justify-content: center;
} */

/* .search i {
  position: relative;
  top: 9px;
  color: #f79133;
  left: 30px;
} */

/* .search input {
  border: 0;
  padding-left: 38px;
  border-radius: 6px;
  background: #eee;
  color: #555;
  width: 320px;
  height: 35px;
} */

/* .notifs {
  width: 15%;
  display: flex;
  justify-content: flex-end;
} */

/* .notifs a {
  margin: 0 1em 0 0;
} */

.profile {
  display: flex;
  align-items: center;
  /* color: #555; */
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border: 3px solid #000; */
}

.profile i {
  margin-left: .7em;
}

/* Main styles */
main {
  width: 95%;
  margin: 0 auto;
}

/* .content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
} */

/* .middle {
  width: 60%;
  background: yellow;
} */

/* .post-story {
  height: 80px;
} */

.share {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  background: #fff;
  margin: .5em 0 0 0;
  padding: 0 1em;
  border-radius: 3px;
  /* border-sizing: content-box; */
}

.share p a {
  line-height: 55px;
  text-decoration: none;
  padding-left: .6em;
  color: rgba(0, 0, 0, .5);
}

/* .post-story input {
  height: 50px;
  width: 70%
} */

.posts_all {
  /* border-top: 1px solid #eee; */
  margin: 10px 0 0 0;
  padding: 1em 0 0 0;
  position: relative;
}

.story_author {
  display: flex;
  list-style: none;
  line-height: 1.1em;
}

.story_author li {
  margin-right: .7em;
}

p.name {
  font-weight: bold;
}

p.time {
  color: rgba(0, 0, 0, .4);
  font-size: 14px;
}

p.description {
  padding: 1em .5em;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

.post {
  border-bottom: 1px solid #eee;
  padding: 2em 1em 1em 1em;
  background: rgba(255, 255, 255, .8);
  border-radius: 3px;
  margin: 0 0 1em 0;
}

.summary {
  list-style: none;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #eee;
  padding: .5em 0;
}

.summary li {
  margin: .4em .8em .4em 0;
}

.summary a {
  text-decoration: none;
  color: rgba(0, 0, 0, .7)
}

.summary span {
  font-weight: bold;
}

.reactions {
  list-style: none;
  display: flex;
  padding: .8em .5em;
}

.reactions li {
  border: 1px solid rgba(0, 0, 0, .3);
  font-size: .85em;
  height: 35px;
  line-height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 50%;
  margin: 0 .5em 0 0;
}

.reactions a {
  color: rgb(255, 40, 0);
}

/* @media only screen and (max-width: 1024px) {
  .profile p {
    display: none;
  }

  .notifs {
    width: 20%;
  }
} */

/* @media only screen and (max-width: 790px) {
  .search input {
    width: 200px;
  }
} */

/* @media only screen and (max-width: 630px) {
  .search input,
  .search i {
    display: none;
  }
} */
